// frontend\src\index.css

@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Assistant:wght@200..800&family=Heebo:wght@100..900&family=Varela+Round&family=Rubik:wght@300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  direction: rtl;
}

body {
  background-image: url("./assets/img/MainBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
}
